.footer {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px 0;
}
.footer .icons {
    margin-bottom: 20px;
}
.footer button {
    margin: 0 20px;
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
    transition: all 400ms;
    background: none;
}
.footer button:hover {
    color: var(--secondary)
}